[submodule "to_impl/cmcstl2"]
	path = to_impl/cmcstl2
	url = https://github.com/CaseyCarter/cmcstl2
[submodule "unicode_characters_properties/coloremoji.sty"]
	path = unicode_characters_properties/coloremoji.sty
	url = git@github.com:alecjacobson/coloremoji.sty.git
